/*custom*/
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html, body{
    font-family: 'Nanum Gothic', sans-serif!important;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
img{
  max-width:100%;
}
h2{
  font-size:2.5em;
}
.container{
  width:90%;
  margin:auto;
}
header{
  color:#fff;
  position:absolute;
  display:flex;
  flex-flow: row wrap;
  width:100%;
  top:0;
  left:0;
  z-index:9;
}
header .container{
  display:flex;
  flex-flow: row wrap;
  align-items:center;
  padding:0px 0;
}
.logo{
  font-size:20px;
  text-transform:uppercase;
  font-weight:bold;
  margin: 0 0 0 -15%;
}
.viki_logo{
    width:30%;height: auto;margin: -9px 0 0 9%;
}
.airo_logo{
    width: 18%;height: auto;margin: 15px 5% 0 3%; float: right
}
.logo a{
  color:#000;
  text-decoration:none;
}
nav {
    justify-content: flex-end;
    display: flex;
    flex: 2 auto;
}
nav ul{
  list-style:none;
  padding:0;
  margin:0;
  display:flex;
  flex-direction: row;
}
nav ul li{
  padding:0.5em;
}
nav ul li a{
  color:#000;
  text-decoration:none;
  display:inline-block;
}
section{
  padding:150px 0;
}
.hero-banner{
background:url(../images/viki-hero-image.jpg) no-repeat center 0px;
  background-size: cover;
  height:100vh;
  display:flex;
  align-items:center;
  text-align:center;
  position:relative;
  z-index:0;
  background-color: transparent;
  color: #000;
}
.hero-banner:after{
  content:"";
  display:block;
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.hero-banner h2{
  color:#fff;
  position:relative;
  z-index:1;
}
.about{
  text-align:center;
  line-height:2;
}
.portfolio{
  text-align:center;
  line-height:2;
  background:#f1f1f1;
}
header.fixed {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 11%;
  opacity:0;
  visibility:hidden;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
  transform:translate(0, -200px);
}
header.fixed nav a, header.fixed .logo a{
  color:#333;
}
header.in-view{
  opacity:1;
  visibility:visible;
  transition: all 0.3s ease;
  transform:translate(0, 0);
}
.head{
    z-index: 8;
    min-width: 656px;
    max-width: 656px;
    white-space: normal;
    font-size: 39px;
    line-height: 61px;
    font-weight: 600;
    color: #fff;
    text-align: auto;
    text-align: -webkit-auto;
    visibility: inherit;
    transition: none 0s ease 0s;
    border-width: 0px;
    margin: 0px auto;
    padding: 0px;
    letter-spacing: 1px;
    min-height: 99px;
    max-height: 221px;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    padding: 40px 0 0 0;
}
.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 800px;
    margin-top: 5%;
    margin-left: 0%;
}
.cust-head{
    z-index: 8;
    min-width: 656px;
    max-width: 656px;
    white-space: normal;
    font-size: 39px;
    line-height: 35px;
    font-weight: 600;
    color: #fff;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: auto;
    text-align: -webkit-auto;
    border-width: 0px;
    margin: 0px auto;
    padding: 0px;
    letter-spacing: 1px;
    min-height: 0px; 
    max-height: 0px; 
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}
.sub-head{
	z-index: 8;
    min-width: 656px;
    max-width: 656px;
    white-space: normal;
    font-size: 24px;
    line-height: 34px;
    font-weight: 100;
    color: #fff;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: auto;
    text-align: -webkit-auto;
    border-width: 0px;
    margin: 0px auto;
    padding: 55px 0 0 0;
    letter-spacing: 1px;
    min-height: 11px;
    max-height: 37px;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}
.header-button{
    margin-top: 48%;
    white-space: normal;
    font-size: 21px;
    font-weight: 100;
    color: #fff;
    background: #FF8C00;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: auto;
    text-align: -webkit-auto;
    left: 12px;
    -webkit-left: 12px;
    margin-top: 14%;
    position: absolute;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
.ls-1{letter-spacing: 1px;}
.module-style{
    padding: 40px;
    text-align: center;
}
.underline{
    border-bottom: 1px solid #e67817;
    line-height: 63px;
    width: max-content;
    margin: 0 auto;
}
.texture{
    background-image: url("../images/texture.png");
    visibility: visible;
    animation-name: fadeIn;
}
.scroll-top{
    padding: 11px 15px 11px 15px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #007bff;
    color: #fff;
}
.carousel-caption {
    position: absolute;
    right: 40%;
    width: 50%;
    bottom: 45%;
    left: 3%;
    z-index: 10;
    color: #fff;
    text-align: center;
    color: #fff;
    text-align: initial;
}
.navbar-dark .navbar-brand {
    color: #414141!important;
    font-size: 35px;
    font-weight: inherit;
    margin: 0 0 0 40px;
}
.bg-white {
    height: 10%;
}
.working-process-wrap {
    position: relative;
}
.custom-left-card {
    position: absolute;
    right: 10%;
    top: 11%;
    text-align: left;
    width: 100%;
    background: #fff;
    padding: 10%;
    -webkit-box-shadow: 0 10px 25px 0 rgba(24,23,24,.2);
    box-shadow: 0 10px 25px 0 rgba(24,23,24,.2);
    margin-left: 15px;
    margin-right: 15px;
}
.text-cust{
    display: inline-block;
    font-size: 24px;
    line-height: 50px;
    color: #999;
    font-weight: 500;
    font-family: 'Nanum Gothic', sans-serif
    vertical-align: middle;
    margin-right: 0px;
    margin-bottom: 0px;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: white;
}
::-webkit-scrollbar
{
	width: 12px;
	background-color: gray;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #C0C0C0;
}
/*.pattern-top{
	transform: skewY(4deg);
}
.pattern-bottom{
	transform: skewY(-5deg);
}*/
.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
.btn-cust{background-color: #efefef!important;color: #6c757d!important;}
.card{height: 100%}
.card-title {text-decoration: underline;}
section { padding: 25px 0;}
/*.pattern{
	background: #1c92d2; 
	background: linear-gradient(to left, #1c92d2, #f2fcfe); 
background: -webkit-linear-gradient(to left, #1c92d2, #f2fcfe);  
height: 700px;
}*/
.bg-benefit{ background-color: #01548a; }
.bg-contact{ background-color: #01548a; line-height: 2; }
.mt-6, .my-6 { margin-top: 5rem!important; }
.mgrn-custom{ margin-top: 9%;line-height: 49px;font-weight: 500;}
.cust-card-body{ line-height: 17px; }
.footer-bottom { padding: 40px 0 30px; border-top: 1px solid #666; background: #1e1e1e; }
.copyright-text p { margin-top: 40px;margin-bottom: 0;color: #343a40; }
.social-link li {display: inline-block;margin: 0 5px;}
.social-link li a { color: #ccc;width: 40px;height: 40px;line-height: 40px;border-radius: 50%;text-align: center;display: inline-block;font-size: 14px;transition: .5s;}
#myFrame{ position:relative;top:0;left:0;width:100%;height: 500px;}
section .section-title {text-align: center;color: #007b5e;margin-bottom: 50px;text-transform: uppercase;}
#footer { background: #414141 !important;}
.footer{ font-size: 14px;}
.copyright{ font-size: 16px;margin-top: 20px;}
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#fff; /*min-height:250px;*/ padding:0px 0px 0px 0px ;}
.footer-logo{ margin: 0 0 0 -30%;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li { padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }
.footer_ul2_amrc { margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}
.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {list-style-type:none;padding:0px;display:table;margin-top: 10px;margin-right: auto;margin-bottom: 10px;margin-left: auto;}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}
.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
form { width: 100%;padding: 0px 0px 80px 0px; }
label { display: block;position: relative;margin: 40px 0px; }
.label-txt { position: absolute;top: -1.6em;padding: 2px;font-family: 'Nanum Gothic', sans-serif; font-size: 1em;color: #fff;transition: ease .3s; }
.input,textarea {width: 100%;padding: 10px;background: transparent;border: none;outline: none;color: #fff;}
.line-box {position: relative;width: 100%;height: 2.3px;background: #BCBCBC;}
.line { position: absolute; width: 0%; height: 2px; top: 0px; left: 50%; transform: translateX(-50%); background: #8BC34A; transition: ease .6s; }
.input:focus + .line-box .line { width: 100%; }
.label-active { top: -3em; }
.footer-text{ font-size: 21px;line-height: 33px; }
button { display: inline-block; padding: 12px 24px; background: rgb(220,220,220); font-weight: bold; color: #000; border: none; outline: none; border-radius: 3px; cursor: pointer; transition: ease .3s; font-family: 'Nanum Gothic', sans-serif }
button:hover { background: #FF8C00; color: #ffffff; }
.logo-footer{margin: 0 0 0 -20%;}
.slider-font{color: #585b59; font-weight: 800;}
.slider-banner{height: auto; width: 97%; margin: 0 auto; }




/*Media Query*/
@media only screen and (min-device-width: 240px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
.hero-banner { height: 75vh; margin: -23px 0 0 -65%; display: flex; align-items: center; text-align: -webkit-center; position: relative; z-index: 0; background-color: transparent; color: #000; }
.viki_logo { margin: 0px 0 0 9%; }
.airo_logo { margin: -37px 5% 0 3%; }
.hero-banner { height: 101vh; margin: -5px 0px 0 -86%; }
.carousel-caption { bottom: 29%; left: 48%; }
.head { font-size: 26px!important; text-shadow: 3px 4px 11px #000}
.cust-head { font-size: 26px!important; line-height: 14px; text-shadow: 3px 4px 11px #000}
.sub-head { font-size: 18px!important; line-height: 28px; padding: 36px 0 0 0; text-shadow: 3px 4px 11px #000}
.header-button { left: 0px; margin-top: 22%; }
header.fixed { height: 8%; }
img { max-width: fit-content; }
.img-fluid-cust { max-width: 141%; margin: 0 0 0 -75px; }
.copyright-text{ width: 312px; margin: -60px 8px 11px 0px; }
.footer-logo{ max-width: 361px; margin: 0px 0 0 -23px; padding: 32px 0 0 0;}
.slider-banner{ margin: 0 0 0 -74px; width: 143%;}
}

@media (min-width: 320px) and (max-width: 320px){

}

@media (min-width:374px) and (max-width:375px) {
.hero-banner { height: 75vh; margin: -23px 0 0 -65%; display: flex; align-items: center; text-align: -webkit-center; position: relative; z-index: 0; background-color: transparent; color: #000; }
.viki_logo { margin: 0px 0 0 9%; }
.airo_logo { margin: -33px 5% 0 3%; }
.hero-banner { height: 101vh; margin: -5px 0px 0 -86%; }
.carousel-caption { bottom: 29%; left: 48%; }
.head { font-size: 26px!important; text-shadow: 3px 4px 11px #000}
.cust-head { font-size: 26px!important; line-height: 14px; text-shadow: 3px 4px 11px #000}
.sub-head { font-size: 18px!important; line-height: 28px; padding: 36px 0 0 0; text-shadow: 3px 4px 11px #000}
.header-button { left: 0px; margin-top: 22%; }
header.fixed { height: 8%; }
img { max-width: fit-content; }
.img-fluid-cust { max-width: 141%; margin: 0 0 0 -75px; }
.copyright-text{ width: 312px; margin: -60px 8px 11px 0px; }
.footer-logo{ max-width: 361px; margin: 0px 0 0 -23px; padding: 32px 0 0 0;}
.slider-banner{ margin: 0 0 0 -74px; width: 143%;}
}



@media only screen and (min-width:640px) and (max-width:768px) {
.airo_logo { width: 18%; height: auto; margin: -64px 2% 0 0%; float: right; }
.header-button { left: 0px; margin-top: 25%; }
.head, .cust-head, .sub-head { font-size: 20px; }
.sub-head{ padding: 30px 0 0 0; line-height: 27px }
}




/*@media only screen and (min-width: 1900px) {
    .head, .cust-head {
    font-size: 51px;
    width: -webkit-fill-available;
    line-height: 31px;
}
.sub-head{    font-size: 34px;
    line-height: 47px;}
}
.carousel-caption {
    bottom: 48%;
    left: -3%;
}
.header-button {
    margin-top: 48%;
    font-size: 26px;
    left: 19%;
    -webkit-left: 12px;
    margin-top: 13%;
}
.viki_logo {
    width: 30%;
    height: auto;
    margin: 1px 0 0 15%;
}
.airo_logo {
    width: 29%;
    margin: 35px -36% 0 9%;
}
.slider-banner {
    height: auto;
    max-width: 162%!important;
    width: 162%!important;
    margin: 0 0 0 -27%;
}
.logo-footer {
    margin: 0 0 0 -216%;
}
.copyright-text{
    margin: 0 0% 0 110%;
    width: inherit;
}
}*/
/*@media only screen and (min-width:375px) and (max-width:667px) {
        .hero-banner {
    background: url(../images/viki-hero-image.jpg) no-repeat center 0px;
    background-size: cover;
    height: 75vh;
    margin: -23px 0 0 -65%;
    display: flex;
    align-items: center;
    text-align: -webkit-center;
    position: relative;
    z-index: 0;
    background-color: transparent;
    color: #000;
}
.airo_logo {
    width: 29%;
    height: auto;
    margin: -17% -34% 0 0%;
    float: right;
}
.carousel-caption {
    position: absolute;
    width: 50%;
    bottom: 15%;
    left: 49%;
    z-index: 10;
    color: #fff;
    text-align: center;
    color: gray;
}
.head, .cust-head, .sub-head{text-shadow: 3px 4px 11px #000; margin: 13px 0 0 3px; font-size: 3em;}
.sub-head{line-height: 45px; font-size: 2.1em; word-break: break-word; text-shadow: 3px 4px 11px #000;}
.header-button{    margin: 16% 79% 25px 0%; position: inherit;}
.img-fluid-cust{ 
    width: auto!important;   
    width: 160%!important;
    height: auto!important;
    float: right!important;
    margin: 0 -31% 0 0%!important}
img {
    max-width: fit-content;
}
.img-fluid {
    max-width: fit-content;
    height: auto;
}

}*/

/*@media only screen and (min-width:240px) and (max-width:639px) {  }*/
@media only screen and (min-width:640px) and (max-width:768px) { 
.hero-banner { margin: 0 0 0 -79%; }
.carousel-caption { right: -8%;bottom: 14%;left: 50%;}
.head, .cust-head, .sub-head{ text-shadow: 3px 4px 11px #000; margin: 13px 0 0 3px; font-size: 3em;}
.sub-head{ line-height: 45px; font-size: 2.1em; word-break: break-word; text-shadow: 3px 4px 11px #000;}
.header-button{ margin: 19% 73% 54px 0%; position: inherit; width: max-content;}
.img-fluid-cust{ width: 125%!important; height: auto!important; float: right!important; margin: 0 -11% 0 0%!important;}
img { max-width: fit-content; }
.img-fluid { max-width: fit-content; height: auto; }
.footer-logo{ width: 748px; margin: -47px 0 0 -5%!important;}
.copyright-text p { margin-top: -40px;margin-bottom: 42px;color: #343a40;font-size: 2em;width: 100%;}
.footer-text { line-height: 50px; font-size: 1.5em; }
.label-txt { font-size: 1.5em; }
.copyright-text{ font-size: 12px; width: 631px; margin: 0 auto;}
b, strong { font-weight: bolder; font-size: 1.1em!important; }
p{ margin-top: 0; margin-bottom: 1rem; font-size: 19px; }
.copyright-text > p > strong{ width: max-content; margin: 0 auto; }
.airo_logo { margin: -10% -2% 0 0%; }
.viki_logo { margin: -3px 0 0 9%; }
header.fixed { height: 10%; }
 }

@media only screen and (min-width:769px) and (max-width:991px) {
        
/*.hero-banner { margin: 0 0 0 -79%; }
.airo_logo {
    width: 29%;
    height: auto;
    margin: -17% -34% 0 0%;
    float: right;
}
.carousel-caption {
    position: absolute;
    width: 50%;
    bottom: 15%;
    left: 49%;
    z-index: 10;
    color: #fff;
    text-align: center;
    color: gray;
}
.head, .cust-head, .sub-head{text-shadow: 3px 4px 11px #000; margin: 13px 0 0 3px; font-size: 3em;}
.sub-head{line-height: 45px; font-size: 2.1em; word-break: break-word; text-shadow: 3px 4px 11px #000;}
.header-button{    margin: 16% 79% 25px 0%; position: inherit;}
.img-fluid-cust{ 
    width: auto!important;   
    width: 160%!important;
    height: auto!important;
    float: right!important;
    margin: 0 -31% 0 0%!important}
img {
    max-width: fit-content;
}
.img-fluid {
    max-width: fit-content;
    height: auto;
}
.footer-logo{margin: 0 0 0 -20%; width:961px;     margin: -70px 0 0 -14%!important;}
.copyright-text p {
    margin-top: -40px;
    margin-bottom: 42px;
    color: #343a40;
    font-size: 2em;
    width: 100%;
}
.footer-text {
    line-height: 50px;
    font-size: 2em;
}
.label-txt {
    font-size: 1.5em;
}
.copyright-text{width: max-content;}
b, strong {
    font-weight: bolder;
    font-size: 1.1em!important;
}
 p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 19px;
}*/


}


@media only screen and (min-width: 992px) and (max-width: 1024px){
.hero-banner { margin: 0 0 0 -79%; }
.carousel-caption { right: -8%;bottom: 14%;left: 50%;}
.head, .cust-head, .sub-head{ text-shadow: 3px 4px 11px #000; margin: 13px 0 0 3px; font-size: 3em;}
.sub-head{ line-height: 45px; font-size: 2.1em; word-break: break-word; text-shadow: 3px 4px 11px #000;}
.header-button{ margin: 16% 81% 25px 0%; position: inherit;}
.img-fluid-cust{ width: auto!important; width: 160%!important; height: auto!important; float: right!important; margin: 0 -29% 0 0%!important}
img { max-width: fit-content; }
.img-fluid { max-width: fit-content; height: auto; }
.footer-logo{ margin: 0 0 0 -20%; width: 748px; margin: -47px 0 0 10%!important;}
.copyright-text p { margin-top: -40px;margin-bottom: 42px;color: #343a40;font-size: 2em;width: 100%;}
.footer-text { line-height: 50px; font-size: 1.5em; }
.label-txt { font-size: 1.5em; }
.copyright-text{width: max-content; margin: 0 auto;}
b, strong { font-weight: bolder; font-size: 1.1em!important; }
p{ margin-top: 0; margin-bottom: 1rem; font-size: 19px; }
.copyright-text > p > strong{ margin: 0 auto; }
.airo_logo { margin: 30px 5% 0 3%; }
.viki_logo { margin: 15px 0 0 9%; }
header.fixed { height: 7%; }
}


@media only screen and (min-width: 1025px) and (max-width: 1200px){
       
}